@font-face {
    font-family: bold;
    src: url("https://informatik.hs-bremerhaven.de/tfiedler1/fonts/Montserrat-ExtraBold.otf");
}
@font-face {
    font-family: regular;
    src: url("https://informatik.hs-bremerhaven.de/tfiedler1/fonts/Montserrat-Medium.otf");
}
@font-face {
    font-family: semi;
    src: url("https://informatik.hs-bremerhaven.de/tfiedler1/fonts/Montserrat-SemiBold.otf");
}

:root {
    --main-color: #002c50;
    --sub-color: #699da8;
    --box-color: #ecf6f9;
    --box-color2: #eaf1f1;
    --btn-color: #bedee6;
}

*{
    margin:0;
    padding:0;
    color: var(--main-color); 
    overflow-x: hidden;    
}
body{
    display:flex;
    flex-direction: column;
    font-family: "bold";
    width:100vw;
}


/*HEADER*/



.thumbnail{
    width:100vw;
    height:39em;
    background-color: rgb(214, 214, 250);
    overflow:hidden;
    background-image: url("https://informatik.hs-bremerhaven.de/tfiedler1/assets/31 Dienstbarkasse „Möve“/moeveBig.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.thumbnail > img{
    width:100%;
}



/*SECTION-TEXT*/



.section-text{
    display:flex;
    flex-direction: column;
    padding-top:4em;
    max-width:73em;
    margin: 0 auto;
}

.header-title{
    font-size:3.3em;
}

.text-content{
    display:flex;
    padding-top:4em;
    margin-bottom:2em;
}

.text-content > .left{
    flex: 2 1 auto;
    width:80%;
    padding: 0 5em;
}
.left > h3{
    color: var(--sub-color);
    padding-bottom: 1em;
    font-size:1.6em;
}
.left > p{
    color: var(--main-color); 
    font-family: "regular";
    font-size:1.2em;
    margin-bottom: 1em;
}

.text-content > .right{
    flex:1 1 auto;
    width: 50%;
    color: var(--main-color); 
}
.right > .text > h4{
    padding-bottom: 1em;
    font-size:1.3em;
}
.right > .text > p{
    padding-bottom: 1em;
    font-size:0.9em;
    padding-bottom: 4em;
}
.infobox{
    background-color:var(--box-color);
    width:100%;
}

.infobox > img{
    padding-bottom:5px;
    width:100%;
}

.infobox > .table{
    padding: 1em;
    display:flex;
    flex-direction: column;
}

.row{
    display:flex;
}

.row > div{
    font-family: "regular";
    font-size:0.8em;
    flex-grow: 1;
    flex-basis: 1px;
    padding-bottom:1em;
}



/*SECTION-WEBGL*/



.section-webgl{
    display:flex;
    flex-direction: column;
}

.title{
    display:flex;
    background-color: var(--box-color2);
    font-family: "regular";
    margin-right:50%;
}

.section-body{
    background-color: var(--box-color2);
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 36em;
    margin: 0 auto;
    text-align:center;
}

.webglcontainer{
    width:90%;
    height:90%;
}

.blurredbg{
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px);
}

.showBtn{
    position: absolute;
    z-index: 4;
    background-color: var(--btn-color);
    color: var(--main-color);
    font-family: "bold";
    font-size:0.8em;
    border: none;
    padding:1em;
    font-size: 1.5em;
    transition: all 500ms ease;
}

.showBtn:hover{
    color: var(--btn-color);
    background-color:var(--main-color);
}

.icon{
    color:white;
}


/*SECTION-IMAGEGALLERY*/



.image-gallery{
    justify-content: center;
    background-color: white;
    padding-top:4em;
    padding-bottom:12em;
    display:flex;
    flex-wrap: wrap;
    max-width: 73em;
    margin: 0 auto;
}

.title2{
    display:flex;
    background-color: white;
    font-family: "regular";
    width:50%
}

.title-bg{
    background-color: var(--box-color2);
}

.gallery-element{
    flex-basis:270px;
    margin: 5px;
    box-shadow: 1px 1px 1px 1.5px var(--main-color);
}
.gallery-element img{
    width: 100%;
    height:200px;
    object-fit: cover;
}



/*SECTION-FOOTER*/



.section-footer{
    border-top: 3px solid #bedee6;
    width:80%;
    margin: 0 auto;
    text-align:center;
    padding-top:3em;
    padding-bottom:5em;
}

.section-footer a{
    font-size:2em;
}



/* SECTION WEBGL & IMAGEGALLERY */



.titlePart1{
    width:85%;
    border-bottom: 30px solid #002c50;
    display:flex;
    align-items:flex-end;
    justify-content: flex-end;
}

.titlePart2{
    text-align: right;
}

.titlePart2 > h2{
    font-size: 2em;
    padding-top: 1em;
}


